.panelWrap {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.panel {
    border: 1px solid #bbbbbb;
    padding: 2px;
}

.panel h2 {
    font-style: italic;
    font-size: 18px;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
}

.panel table {
    border-collapse: collapse;
    width: 100%;
}

.panel th {
    font-weight: 500;
    text-align: left;
    color: #777;
    background-color: #f9f9f9;
    border-bottom: 1px dotted #777;
}

.panel tr:nth-of-type(odd) {
    background-color: #ebebeb;
}
