.bgLite {
    background-color: #f9f9f9;
}

.bgDark {
    background-color: #232323;
}

.fgDark {
    color: #fff;
}

.panelWrap {
    border: 1px solid #606060;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    min-width: 300px;
    min-height: 300px;
}

.stockCard {
    padding: 6px;
    border: 1px dotted #777;
    font-size: 14px;
}

.stockCard a {
    text-decoration: none;
    color: inherit;
}

.stockCard h2 {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    color: #adadad;
}

.stockSymbol {
    font-size: 16px;
    font-weight: 600;
    color: #198bd2;
}

.stockSymbol:hover {
    text-decoration: underline;
}

.stockGreen {
    color: #50C878;
}

.stockRed {
    color: #ff0800;
}

.stockError {
    color: #d80800;
    font-weight: bold;
}

.listFlexWrap {
    display: flex;
    justify-content: space-between;
}

.listMainContent {
    flex-basis: 100%;
}

.listGrid {
    display: grid;
    grid-template-columns: 35% 65%;
}

.listControlPanelWrap {
    display: flex;
    justify-content: space-between;
}

/* TODO
PLEASE FIX BY SPECIFYING A CLASS NAME AFTER
FIXING LEAKING CSS CODE FROM OTHER COMPONENTS
*/
.btn1 {
    margin: 0;
    padding: 4px;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid #777;
    border-radius: 8px;
    background-color: #232323;
    color: #adadad;
}

.btn1:hover {
    background-color: #323232;
}

.btn1:active {
    border-color: #555;
    transform: translateY(1px);
}

input.txtInput1 {
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid #777;
}
