.head {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}


.aboutParagraph {
    margin-left: 128px;
    margin-right: 128px;
    text-align: center;
    color:#18191A;
    font-size: 16px;
}

