.head {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

/* Used on section tag. Moved up here in order to set margins on lower order tags */
.newsStatsSectionWrap {
   background-color: #18191A; 
}

.newsStatsContainer {
    margin-left: 48px;
    margin-right: 48px;
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr 280px;
    
}

/*
.newsWrap, .glWrap {
    border: 1px solid red;
}
*/

.aboutParagraph {
    margin-left: 128px;
    margin-right: 128px;
    text-align: center;
    color:#18191A;
    font-size: 16px;
}
