.stockMainWrap {
    padding: 2px;
    border-top: 1px solid #454545;
    background-color: #18191a;
    color: #adadad;
}

.stockMainContent {
    margin-left: 12%;
    margin-right: 12%;
    min-height: 125vh;
}

.stockMainContent h1 {
    color: #198bd2;
    margin-bottom: 12px;
}

.stockNameBlock {
    margin-bottom: 24px;
}

.stockPriceSummaryBox {
    border: 1px solid #454545;
    border-radius: 2px;
    padding: 8px;
}

.stockSummaryWrap {
    display: flex;
    gap: 16px;
    font-size: 24px;
}

.stockSummaryHead {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}

.stockSummaryChange {
    align-content: center;
}

.stockStatsBox {
    border: 1px solid #454545;
    border-radius: 2px;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.stockStatsBox div {
    flex-basis: 30%;
}

.stockStatsBox table {
    border-collapse: collapse;
    width: 100%;
}

.stockStatsBox tr {
    border-bottom: 1px solid #454545;
}

.stockStatsBox tr td:last-child {
    text-align: right;
}
